################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/WebServices/obj/Debug
/.vs/HRMS
/WebServices
/Properties/PublishProfiles/FolderProfile3.pubxml.user
